/* ===========================
   GOOGLE FONTS
=========================== */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

/* ===========================
   RESET
=========================== */

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

    overflow-x:hidden;

    scrollbar-gutter:stable;

}

body{

    width:100%;

    min-height:100vh;

    overflow-x:hidden;

    background:#070b12;

    color:white;

    font-family:'Poppins',sans-serif;

    text-rendering:optimizeLegibility;

    -webkit-font-smoothing:antialiased;

    -moz-osx-font-smoothing:grayscale;

}

/* ===========================
   GLOBAL
=========================== */

img{

    max-width:100%;

    display:block;

}

video{

    display:block;

}

a{

    text-decoration:none;

    color:inherit;

}

button{

    cursor:pointer;

    border:none;

    outline:none;

    font-family:inherit;

}

input{

    font-family:inherit;

}

/* ===========================
   SECTION
=========================== */

section{

    width:100%;

    position:relative;

}

/* ===========================
   CONTAINER
=========================== */

.container{

    width:min(1200px,92%);

    margin:auto;

}

/* ===========================
   REVEAL ANIMATION
=========================== */

/* .reveal{

    opacity:0;

    transform:translateY(40px);

    transition:
        opacity .8s ease,
        transform .8s ease;

}

.reveal.active{

    opacity:1;

    transform:translateY(0);

} */

/* ===========================
   SCROLLBAR
=========================== */

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-track{

    background:#05070c;

}

::-webkit-scrollbar-thumb{

    background:#b89242;

    border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

    background:#d6b86d;

}